@model IEnumerable<Triaje.Models.TriajeGeneral.TipoSigno>

@{
    ViewData["Title"] = "Index";
}

<h2 class="" style="font-family:Vogue; text-decoration:underline; text-align:center; color:brown;">Tipos de Signos</h2>

<p>
    <a class="btn text-light" style="font-family: Vogue; Background: brown" asp-action="Create">Ingresar Tipo de Signo</a>
</p>
<div class="row">
    <div class="col-12" style="font-family:Garamond;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            <a class="btn btn-sm text-light" style="font-family: Vogue; Background: brown" asp-action="Edit" asp-route-id="@item.IdTipoSignoGeneral">Editar</a>
                            <a class="btn btn-sm text-light" style="font-family: Vogue; Background: brown" asp-action="Details" asp-route-id="@item.IdTipoSignoGeneral">Detalles</a>
                            <a class="btn btn-sm text-light" style="font-family: Vogue; Background: brown" asp-action="Delete" asp-route-id="@item.IdTipoSignoGeneral">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>