@model Triaje.Models.TriajeN

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TriajeN</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tuberculosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuberculosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gripe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gripe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdConsultaN">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
