@model IEnumerable<Triaje.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-secondary" style="font-family:Vogue; text-decoration:underline; text-align:center">Pacientes</h2>

<p>
    <a class="btn btn-secondary" style="font-family:Vogue" asp-action="Create">Registrar Paciente</a>
</p>
<div class="row">
    <div class="col-12" style="font-family: Garamond">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdentidadPaciente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombresPaciente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApellidosPaciente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaNacimiento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contacto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroContacto)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdentidadPaciente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombresPaciente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApellidosPaciente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contacto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroContacto)
                    </td>
                    <td>
                        <a class="btn btn-secondary btn-sm" style="font-family:Vogue" asp-action="Edit" asp-route-id="@item.IdentidadPaciente">Editar</a> 
                        <a class="btn btn-secondary btn-sm" style="font-family:Vogue" asp-action="Details" asp-route-id="@item.IdentidadPaciente">Detalles</a> 
                        <a class="btn btn-secondary btn-sm" style="font-family:Vogue" asp-action="Delete" asp-route-id="@item.IdentidadPaciente">Eliminar</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
